<div class="jumbotron">
  <div class="row">
    <div class="col-5">
      <h1>About Event Manager</h1>
      <p>Morbi. Auctor lectus euismod habitant arcu amet ullamcorper 
      netus Purus neque cursus consequat cursus tellus, pulvinar gravida 
      netus nascetur odio. A rhoncus nisl. Nonummy nullam senectus 
      tristique montes elementum sit, placerat nostra in rutrum laoreet 
      luctus curabitur leo mus.<br>
      </p>
    </div>
    <div class="col-7">
      <%= image_tag("image1.png", :alt => "Event Mamager") %>
    </div>
  </div>
</div>